$lightblue: #008fb3;
$lightgreen: #50ccad;
$red: #ff5b57;

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #0099cc;
	animation: changeColor 600s normal infinite;
	position: relative;
	&::after {
		content: '';
		backdrop-filter: blur(10px);
		filter: blur(10px);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}

select,
button,
input,
textarea {
	&:hover,
	&:focus {
		border: 1px solid #000;
	}
}

a {
	text-decoration: underline;
	color: mix($red, black, 70%);
	&:hover,
	&:focus {
		text-decoration: underline;
		color: mix($red, black, 50%);
	}

	&:visited {
		color: mix($red, black, 80%);
	}
}

header {
	position: absolute;
	text-align: center;
	top: 1em;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 2;
}

main {
	select {
		border: 1px solid #999;
		border-radius: 3px;
		padding: 0.5em;
		font-size: 1em;
		font-weight: bold;
	}

	#selectText {
		font-size: 1.2em;
		font-weight: bold;
	}

	#tableWrap {
		#table {
			th {
				font-size: 1.2em;
				font-weight: bold;
				background-color: rgb(210, 210, 210);
			}
			td {
				text-align: center;

				&.W-1 {
					background-color: darken(yellow, 5%);
				}
				&.W-2 {
					background-color: orange;
				}
				&.W-3 {
					background-color: red;
				}
			}
			th,
			td {
				font-family: Arial, Helvetica, sans-serif;
				border-bottom: 1px solid #999;
				padding: 0.5em;
				position: relative;
			}

			font-size: larger;
		}
		overflow-x: scroll;
		margin-top: 1em;
	}

	top: 8em;
	position: relative;
	margin-bottom: 10em;

	background: linear-gradient(to top right, #ffffff60, #ffffff96);
	backdrop-filter: blur(2em);
	border-radius: 2em;
	padding: 1em;

	z-index: 2;
}

footer {
	position: fixed;
	bottom: 0;
	z-index: 3;

	.spacer {
		margin: 0 0 0 0;
		width: 1em;
		display: inline-block;
	}

	&.bottom {
		position: static;
	}
}

@keyframes changeColor {
	0% {
		background-color: $lightblue;
	}
	50% {
		background-color: $lightgreen;
	}
	100% {
		background-color: $lightblue;
	}
}
