main {
	select {
		border: 1px solid #999;
		border-radius: 3px;
		padding: 0.5em;
		font-size: 1em;
		font-weight: bold;
	}

	#selectText {
		font-size: 1.2em;
		font-weight: bold;
	}

	#tableWrap {
		#table {
			th {
				font-size: 1.2em;
				font-weight: bold;
				background-color: rgb(210, 210, 210);
			}
			td {
				text-align: center;

				&.W-1 {
					background-color: var(--ampel-yellow);
				}
				&.W-2 {
					background-color: var(--ampel-orange);
				}
				&.W-3 {
					background-color: var(--ampel-red);
				}
			}
			th,
			td {
				font-family: Arial, Helvetica, sans-serif;
				border-bottom: 1px solid #999;
				padding: 0.5em;
				position: relative;
			}

			font-size: larger;
		}

		overflow-x: scroll;
		margin-top: 1em;
	}
}
