#popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	&.hidden {
		display: none;
	}

	table tr {
		th,
		td {
			padding-left: 1em;
			padding-right: 1em;
			text-align: center;
		}
	}

	button {
		position: relative;
		left: 1em;
	}

	h1 {
		position: relative;
		left: 0.7em;
	}
}

html,
body {
	height: 100%;
	width: 100%;
}
