html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	background-color: #111;
	color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.layout {
	/*
    This is the main container for the entire page.
    All children are centered within this container.
  */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'main'
		'footer';
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	/*
	This is the header.
	It is always at the top of the page.
  */
	& header {
		grid-area: header;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 75px;
		width: 100%;
		background-color: #111;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	}

	/*
	This is the main content.
	It is always at the middle of the page.
	All children of this container are centered within this container.
	It isn't hidden by the header.
  */
	& main {
		grid-area: main;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: calc(100vh - 150px);
		width: 100%;
		background-color: #111;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

		& pre {
			margin: 0;
			padding: 0;
			overflow: scroll;
			white-space: pre-wrap;
			max-height: calc(100vh - 150px);
			max-width: calc(100vw - 150px);
			background-color: #333;
			color: #fafafa;
			border-radius: 4px;
			border-color: #fafafa;
			border-style: solid;
			border-width: 5px;

			& code {
				font-family: 'Fira Code', monospace;
				font-size: 14px;
				line-height: 1.5;
				padding: 0.5em 0;
				border-radius: 3px;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
			}
		}

		& h1 {
			font-size: 2em;
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
	}

	/*
	This is the footer.
	It is always at the bottom of the page.
  */
	& footer {
		grid-area: footer;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 75px;
		width: 100%;
		background-color: #111;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	}
}
