$lightblue: #008fb3;
$lightgreen: #50ccad;
$red: #ff5b57;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	html.dark & {
		background-color: #1d1d1d;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;

	html.dark & {
		color: #cdcdcd;
	}
}

h1 {
	text-align: center;
	display: flex;
	justify-content: center;
}

div header {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 50px;
	height: auto;
	max-height: 120px;
	background-color: #dadada;
	display: flex;
	align-items: center;

	flex-wrap: wrap;

	html.dark & {
		background-color: #333;
	}

	& > * {
		margin: 0 20px;
		padding: 3px;
		border-radius: 5px;
		background-color: #aaaaaa;

		html.dark & {
			background-color: #555;
		}
	}

	button {
		border: none;
	}
}

.layout-item,
.main-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: scroll;

	padding-top: 100px;
}

* {
	&.ws-1 {
		background-color: darken(yellow, 5%);
	}
	&.ws-2 {
		background-color: orange;
	}
	&.ws-3 {
		background-color: red;
	}
	&.ws-undefined {
		background-color: #979797;
	}
}

a.hoverable {
	position: relative;
	& + *[class$='-hover'] {
		display: none;
		position: absolute;
		z-index: 1;
		background-color: #fff;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		margin: 0 auto;
		width: max-content;
		text-align: center;
		font-size: 0.8em;
		font-weight: bold;
		color: #000;

		html.dark & {
			background-color: #000;
			color: #fff;
		}

		span {
			display: block;
			margin: 0 auto;
			width: max-content;
			text-align: center;
			font-weight: bold;
			color: #000;

			html.dark & {
				background-color: #000;
				color: #fff;
			}
		}
	}

	&:hover + *[class$='-hover'] {
		display: block;
	}
}
