$lightblue: #008fb3;
$lightgreen: #50ccad;
$red: #ff5b57;

html,
body {
	padding: 0;
	margin: 0;

	html.dark & {
		background-color: #1d1d1d;
	}
}

<<<<<<< Updated upstream
=======
a {
	text-decoration: none;
}

>>>>>>> Stashed changes
* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	html.dark & {
		color: #cdcdcd;
	}
}

a,
button {
	text-decoration: underline;
	color: #f33;

	html.dark & {
		color: #f33;
	}
}

h1 {
	text-align: center;
	display: flex;
	justify-content: center;
}

div header {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 50px;
	height: auto;
	background-color: #dadada;
	display: flex;
	align-items: center;

	flex-wrap: wrap;

	html.dark & {
		background-color: #333;
	}

	& > .menuEntry > * {
		margin: 3px 20px;
		padding: 3px;
		border-radius: 5px;
		background-color: #aaaaaa;
		font-size: medium;
		color: #000;
		text-decoration: none;

		html.dark & {
			background-color: #555;
			color: #fff;
		}
	}

	button {
		border: none;
	}

	.menuButton {
		visibility: hidden;
	}

	@media (max-width: 750px) {
		.menuButton {
			visibility: visible;
		}
		.menuEntry {
			display: none;
		}

		.menuButton {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: 25px;
				left: 0;
				width: 100%;
				border-bottom: 5px solid rgb(0, 0, 0);
			}
			&::before {
				content: '';
				position: absolute;
				bottom: 10px;
				left: 0;
				width: 100%;
				border-bottom: 5px solid rgb(0, 0, 0);
			}
			border-bottom: 5px solid rgb(0, 0, 0);
			width: 40px;
			height: 40px;
			margin: 5px;
			padding: 0;
			border-radius: 0;
			background-color: rgba(0, 0, 0, 0);
		}

		.menuButton:focus {
			& + .menuEntry {
				display: block;
				z-index: 1;
				* {
					display: block;
					background-color: #aaa;

					html.dark & {
						background-color: #555;
					}
				}
			}
		}
		.menuEntry:focus,
		.menuEntry:hover {
			display: block;
			z-index: 1;
			* {
				display: block;
				background-color: #aaa;

				html.dark & {
					background-color: #555;
				}
			}
		}
	}
}

.layout-item,
.main-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: scroll;

	padding-top: 100px;
}

* {
	&.ws-1 {
		background-color: darken(yellow, 5%);
		html.dark & {
			color: #333;
		}
	}
	&.ws-2 {
		background-color: orange;
		html.dark & {
			color: #333;
		}
	}
	&.ws-3 {
		background-color: red;
		html.dark & {
			color: #333;
		}
	}
	&.ws-undefined {
		background-color: #979797;
		html.dark & {
			color: #333;
		}
	}
}

a.hoverable {
	position: relative;
	& + *[class$='-hover'] {
		display: none;
		position: absolute;
		z-index: 1;
		background-color: #fff;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		margin: 0 auto;
		width: max-content;
		text-align: center;
		font-size: 0.8em;
		font-weight: bold;
		color: #000;

		html.dark & {
			background-color: #000;
			color: #fff;
		}

		span {
			display: block;
			margin: 0 auto;
			width: max-content;
			text-align: center;
			font-weight: bold;
			color: #000;

			html.dark & {
				background-color: #000;
				color: #fff;
			}
		}
	}

	&:hover + *[class$='-hover'] {
		display: block;
	}
}
