#warnstufen table tr {
	th,
	td {
		max-width: 10em;
		padding: 1em;
		border: 0.1em;
		border-style: solid;
		border-color: #000;
	}

	background-color: rgb(230, 230, 230);

	.W1 {
		background-color: darken(yellow, 5%);
	}

	.W2 {
		background-color: orange;
	}

	.W3 {
		background-color: red;
	}
}
